@media (min-width: 991px) {
    .cover{
        height: 100vh;
    }
  }

.cover img{
    height: 100vh;
}

p{
    color: white;
}

.section-name{
    color: white !important;
    /* min-height: 300px; */
}

.active .nav-link{
    color: #fb9902 !important;
}
.section-name:hover{
    color: #515151
}

.bg-color{
    background-color: #0D0F11;
}

.scrolling-navbar{
    padding: 30px 0;
}

.navbar-toggler-icon{
    color: white !important;
    
}
.navbar-toggler{
    color:white !important;
}

.title b{
    font-size: 150%;
    color: #fb9902;
    /* font-weight: 150%; */
}
.title a{
    margin: auto;
}

.hr-line{
  border-bottom: 1px #fb9902 solid;
  padding-bottom: 20px;
}
/* header */








/* footer */

.footer{
    background-color: #131619;
}

.contact{
    padding: 3% 0;
}

.footerLi p{
    margin-bottom: 1% !important;
}
