p{
    color: white;
}

.section-name{
    color: white !important;
    /* min-height: 300px; */
}

.active .nav-link{
    color: #fb9902 !important;
}
.section-name:hover{
    color: #515151
}

.bg-color{
    background-color: #0D0F11;
}

.scrolling-navbar{
    padding: 30px 0;
}

.navbar-toggler-icon{
    color: white !important;
    
}
.navbar-toggler{
    color:white !important;
}


.carousel-item img{
	height: 100vh;
}

@media (min-width: 991px) {
    .carousel-item img{
        height: 100vh;
    }
  }

.title b{
    font-size: 150%;
    color: #fb9902;
    /* font-weight: 150%; */
}
.title a{
    margin: auto;
}

.aboutUs{
    /* height: 100vh; */
    background-color: #0D0F11;
}

.hr-line{
  border-bottom: 1px #fb9902 solid;
  padding-bottom: 20px;
}

.aboutUsRow .divCenter{
    padding: 15% 10%; 
}

.logo{
    text-align: center;

}

.logo .img{
    width: 60%;
    margin: auto;
}

.activities{
    background-color: #131619;
}

.clubTitle{
    padding: 5% 0;
}

.componentRows{
    padding: 5% 0;
}

.component h5{
    color: white;
    /* font-size: 150%; */
    padding-bottom: 1%;
}

.component p{
    font-size: 90%;
}

.imgResize img{
    width: 100%;
}

@media (max-width: 991px){
    .imgResize img{
        width: 70%;
        /* text-align: center; */
        justify-content: center;
    }
    .verticalImg img{
        height: 0;
    }


}

.extra{
    background-color: #0D0F11;
    height: 100vh;
}


.footer{
    background-color: #131619;
}

.contact{
    padding: 3% 0;
}

.footerLi p{
    margin-bottom: 1% !important;
}
