p{
    color: white;
}

.section-name{
    color: white !important;
    /* min-height: 300px; */
}

.titlePic{
    background-image: url("../images/cover2.jpg");
    /* background-repeat: no-repeat, repeat; */
    background-color: #cccccc;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    height: 100vh;
    width: 100%;
}

.caption {
    position: absolute;
    left: 0;
    top: 40%;
    width: 100%;
    text-align: center;
    color: #000;
  }
  
  .caption span.border {
    background-color: #111;
    color: #fb9902;
    padding: 18px;
    font-size: 200%;
    letter-spacing: 10px;
  }

.active .nav-link{
    color: #fb9902 !important;
}
.section-name:hover{
    color: #515151
}

.bg-color{
    background-color: #0D0F11;
}

.scrolling-navbar{
    padding: 30px 0;
}

.navbar-toggler-icon{
    color: white !important;
    
}
.navbar-toggler{
    color:white !important;
}


.carousel-item{
	height: 350px;
}

@media (min-width: 991px) {
    .carousel-item{
        height: 100vh;
    }
  }

.carousel-item img{
	height: 100%;
}

.title b{
    font-size: 150%;
    color: #fb9902;
    /* font-weight: 150%; */
}
.title a{
    margin: auto;
}

.aboutUs{
    /* height: 100vh; */
    background-color: #0D0F11;
}

.hr-line{
  border-bottom: 1px #fb9902 solid;
  padding-bottom: 20px;
}

.aboutUsRow .divCenter{
    padding: 15% 10%; 
}

.logo{
    text-align: center;

}

.logo .img{
    width: 60%;
    margin: auto;
}
.helper {
    display: inline-block;
    height: 100%;
    vertical-align: middle;
}

.activities{
    background-color: #131619;
}

.clubTitle{
    padding: 5% 0;
}

.componentRows{
    padding: 5% 0;
}

.component h5{
    color: white;
    /* font-size: 150%; */
    padding-bottom: 1%;
}

.component p{
    font-size: 90%;
}

.imgResize img{
    width: 100%;
}

@media (max-width: 991px){
    .imgResize img{
        width: 70%;
        /* text-align: center; */
        justify-content: center;
    }
    .verticalImg img{
        height: 0;
    }

}

.caption img{
    width: 30%;
}

@media (max-width: 991px){
    .caption img {
        width: 50%;
    }
}

.projects{
    background-color: #0D0F11;
    padding: 10%;
    margin-bottom: 10%;
}



.projectRow .d-flex{
    padding-bottom: 10%;
}

.card{
    border: none;
}

.card-body{
    background-color: #131619;
}

.card-body h4{
    color: #fb9902;
}

.card-link {
    text-align: right;
}

.extra{
    background-color: #0D0F11;
    /* height: 100vh; */
    padding-bottom: 10%;

}


.gallary{
    background-color: #131619;
}

.gallaryRows{
    padding-top: 5%;
}

.tiles{
    width: 100%;
    margin: auto;
}

.tiles .tile {
    display: inline-block;
    margin: 10px;
    text-align: left;
    opacity: 0.99;
    overflow: hidden;
    position: relative;
    border-radius: 3px;
    box-shadow: 0 0 20px 0 rgba(0, 0, 0, 0.05);
  }
  .tiles .tile:before {
    content: "";
    background: linear-gradient(to bottom, rgba(0, 0, 0, 0) 0%, rgba(0, 0, 0, 0.7) 100%);
    width: 100%;
    height: 50%;
    opacity: 0;
    position: absolute;
    top: 100%;
    left: 0;
    z-index: 2;
    transition-property: top, opacity;
    transition-duration: 0.3s;
  }
  .tiles .tile img {
    display: block;
    max-width: 100%;
    backface-visibility: hidden;
    -webkit-backface-visibility: hidden;
  }
  .tiles .tile .details {
    font-size: 16px;
    padding: 20px;
    color: #fff;
    position: absolute;
    bottom: 0;
    left: 0;
    z-index: 3;
  }
  .tiles .tile .details span {
    display: block;
    opacity: 0;
    position: relative;
    top: 100px;
    transition-property: top, opacity;
    transition-duration: 0.3s;
    transition-delay: 0s;
  }
  .tiles .tile .details .title {
    line-height: 1;
    font-weight: 600;
    font-size: 18px;
  }
  .tiles .tile .details .info {
    line-height: 1.2;
    margin-top: 5px;
    font-size: 12px;
  }
  .tiles .tile:focus:before,
  .tiles .tile:focus span, .tiles .tile:hover:before,
  .tiles .tile:hover span {
    opacity: 1;
  }
  .tiles .tile:focus:before, .tiles .tile:hover:before {
    top: 50%;
  }
  .tiles .tile:focus span, .tiles .tile:hover span {
    top: 0;
  }
  .tiles .tile:focus .title, .tiles .tile:hover .title {
    transition-delay: 0.15s;
  }
  .tiles .tile:focus .info, .tiles .tile:hover .info {
    transition-delay: 0.25s;
  }

  .tile img{
      width: 100% !important;
      height: 320px;
  }




.footer{
    background-color: #131619;
}

.contact{
    padding: 3% 0;
}

.footerLi p{
    margin-bottom: 1% !important;
}

.footerLi p a{
    color: white;
    text-decoration: none;
}
