.cover{
    height: 350px;
}

@media (min-width: 991px) {
    .cover{
        height: 100vh;
    }
  }

.cover img{
    height: 100%;
}
p{
    color: white;
}

.section-name{
    color: white !important;
    /* min-height: 300px; */
}

.active .nav-link{
    color: #fb9902 !important;
}
.section-name:hover{
    color: #515151
}

.bg-color{
    background-color: #0D0F11;
}

.scrolling-navbar{
    padding: 30px 0;
}

.navbar-toggler-icon{
    color: white !important;
    
}
.navbar-toggler{
    color:white !important;
}

.title b{
    font-size: 150%;
    color: #fb9902;
    /* font-weight: 150%; */
}
.title a{
    margin: auto;
}

.hr-line{
  border-bottom: 1px #fb9902 solid;
  padding-bottom: 20px;
}
/* header */

.designation {
    color: #fb9902;
    padding-top: 5%;
}

.bg1{
    background-color: #0D0F11;
}

.bg2{
    background-color: #131619;
}

.people{
    margin: auto;
}


.card{
    border: none;
}


.card-body h4{
    color: #fb9902;
    text-align: center;
}

.contact p{
    margin-bottom: 2px !important;
}

.contact{
    margin-left: 10%;
    color: white;
}

.people{
    margin: auto;

    padding: 5% 15px;
}





/* footer */

.footer{
    background-color: #131619;
}

.contact{
    padding: 3% 0;
}

.footerLi p{
    margin-bottom: 1% !important;
}
